<div class="edit">
<div class="badge">
	<%= image_tag(@event.logo.badge_logo.url) if @event.logo? %>
	<div class="details">
		<h3 class="first_name"><%= @attendee.first_name %></h3>
		<h3 class="last_name"><%= @attendee.last_name %></h3>
		<h3 class="twitter_id">@<%= @attendee.twitter %></h3>
	</div>								
	<h4 class="<%= @attendee.badge %>"><%= @attendee.badge %></h4>
	<div class="sub_banner">
	
	</div>				
</div>
<div class="your_details">
	<% if @attendee.errors.any? %>
		<% @attendee.errors.full_messages.each do |msg| %>
			<p class="error"><%= msg %></p>
		<% end %>
	<% end %>
	
	<%=form_tag(selfservice_updatebadge_path, :method => :put) do %>
		
		<p>
			<label for="first_name">First Name</label>
			<%= text_field(:attendee, :first_name, :size => 20, :maxlength => 20) %>
		</p>
		
		<p>
			<label for="last_name">Last Name</label>
			<%= text_field(:attendee, :last_name, :size => 20, :maxlength => 20) %>
		</p>

		<p>
			<label for="twitter">Twitter ID</label>
			<%= text_field(:attendee, :twitter, :size => 20, :maxlength => 20) %>
		</p>

		<p>
			<label for="diet">Diet</label>
			<%= select("attendee", :diet, options_from_collection_for_select(@attendee.diet_types.sort, :first, :last, @attendee['diet'])) %>
		</p>
		<p>
			<label for="t_shirt">T-Shirt Size</label>
			<%= select("attendee", :t_shirt, options_from_collection_for_select(@attendee.tshirt_types.sort, :first, :last, @attendee['t_shirt'])) %>
		</p>
		<p>
			<label for="public_profile">Public Profile</label>
			<%= select("attendee", :public_profile, options_from_collection_for_select(@attendee.profile_types.sort, :first, :last, @attendee['public_profile'])) %>
		</p>
		<p>
			<input type="submit" value="Save My Details">
		</p>
	<% end %>
</div>
</div>