

<div class="in dashboard_table_small">
    <table width="410" border="0" cellspacing="0" cellpadding="10" class="table_main table_small table_left" >
      <tbody><tr style="background-color:#d9d8d8; font-size:14px;">
        <td width="120" style="text-align: center;"><strong>Shows</strong></td>
		<td width="120" style="text-align: center;"><strong>No Shows</strong></td>
      </tr>
      <tr class="gray">
        <td style="text-align: center;"><%= @event.attended %> (<%= link_to(@event.attended_conf, events_path+"/#{@event.id}/attendance_type/shows_conf")%> + <%= link_to(@event.attended_unconf, events_path+"/#{@event.id}/attendance_type/shows_conf")%>) </td>
        <td style="text-align: center;"><%= @event.no_show %> (<%= link_to(@event.noshow_conf, events_path+"/#{@event.id}/attendance_type/noshows_conf")%>+<%= link_to(@event.noshow_unconf, events_path+"/#{@event.id}/attendance_type/noshows_conf")%>)  </td>
      </tr>
    </tbody></table>    

    <table width="410" border="0" cellspacing="0" cellpadding="10" class="table_main table_small">
      <tbody><tr style="background-color:#d9d8d8; font-size:14px;">
        <td width="120" style="text-align: center;"><strong>Onsite</strong></td>
		<td width="120" style="text-align: center;"><strong>Offsite</strong></td>
      </tr>
      <tr class="gray">
        <td style="text-align: center;"><%= @event.onsite %></td>
        <td style="text-align: center;"><%= @event.offsite %></td>
      </tr>
    </tbody></table>    
</div>

<div class="in dashboard_table">
    <table width="850" border="0" cellspacing="0" cellpadding="10" class="table_main">
      <tbody><tr style="background-color:#d9d8d8; font-size:14px;">
        <td width="120" style="text-align: center;"><strong><%= link_to('Sign Ups', events_path+"/#{@event.id}") %></strong></td>
        <td width="120" style="text-align: center;"><strong><%= link_to('Confirmed', events_path+"/#{@event.id}/status_type/confirmed") %></strong></td>
        <td width="120" style="text-align: center;"><strong><%= link_to('Unconfirmed', events_path+"/#{@event.id}/status_type/unconfirmed") %></strong></td>
        <td width="120" style="text-align: center;"><strong><%= link_to('Cancelled', events_path+"/#{@event.id}/status_type/cancelled") %></strong></td>
        <!-- <td width="120" style="text-align: center;"><strong>Est. Attending</strong></td>
        <td width="120" style="text-align: center;"><strong>Show</strong></td>
        <td width="120" style="text-align: center;"><strong>No Show</strong></td> -->
      </tr>
      <tr class="gray">
        <td style="text-align: center;"><%= @event.signups %></td>
        <td style="text-align: center;"><%= @event.confirmed %></td>
        <td style="text-align: center;"><%= @event.unconfirmed %></td>
        <td style="text-align: center;"><%= @event.cancelled %></td>
        <!-- <td style="text-align: center;"><%= @event.attending %></td>
        <td style="text-align: center;"><%= @event.attended %></td>
        <td style="text-align: center;"><%= @event.no_show %></td> -->
      </tr>
    </tbody></table>    
</div>

