<div class="in author"> 
	<h2>All Attendees</h2> 
</div>

<div class="in">			
	<table width="850" border="0" cellspacing="0" cellpadding="10" class="table_main" > 
		<tr style="background-color:#d9d8d8; font-size:14px;"> 
			<td width="179"><strong>Name</strong></td> 
			<td width="184"><strong>Event</strong></td> 
			<td width="135"><strong>Badge</strong></td> 			
			<td width="135"><strong>Status</strong></td> 
			<td width="135"></td> 
		</tr>
		<% @attendees.each do |attendee| %>
		<tr class="gray"> 
			<td><%= "#{attendee.first_name} #{attendee.last_name}" %></td> 
			<td><a href="#"><%= link_to attendee.event.name, event_path(attendee.event) %></a></td> 
			<td><%= attendee.badge_types[attendee.badge] %></td> 
			<td><%= attendee.status_types[attendee.status] %></td> 
			<td><%= link_to 'VIEW', attendee_path(attendee) %><span class="v_line">| </span> <%= link_to 'EDIT', edit_attendee_path(attendee) %></td> 
		</tr> 
		<% end %>
	</table> 
					
</div>

<br />