<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @attendee.event.name %>
</p>

<p>
  <b>Ticket:</b>
  <%= @attendee.ticket_id %>
</p>

<p>
  <b>Status:</b>
  <%= @attendee.status_types[@attendee.status] %>
</p>

<p>
  <b>First name:</b>
  <%= @attendee.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @attendee.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @attendee.email %>
</p>

<p>
  <b>Phone number:</b>
  <%= @attendee.phone_number %>
</p>

<p>
  <b>Twitter:</b>
  <%= @attendee.twitter %>
</p>

<p>
  <b>T-shirt:</b>
  <%= @attendee.tshirt_types[@attendee.t_shirt] %>
</p>

<p>
  <b>Diet:</b>
  <%= @attendee.diet_types[@attendee.diet] %>
</p>

<p>
  <b>Badge:</b>
  <%= @attendee.badge_types[@attendee.badge] %>
</p>


<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
