<% if @event.errors.any? %>
<div class="check_main">
	<% @event.errors.full_messages.each do |msg| %>
		<div class="check">
			<div class="good"><%= image_tag("x.gif", :class => "icon") %><%= msg %></div>
		</div>
	<% end %>
</div>
<% end %>
<div class="in forms">
<%= form_for(@event) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "box" %>
  </p>
  <p>
    <%= f.label :event_url, "Event URL" %><br />
    <%= f.text_field :event_url, :class => "box" %>
  </p>
  <p>
    <%= f.label :eventbrite_id, "Eventbrite ID" %><br />
    <%= f.text_field :eventbrite_id, :class => "box" %>
  </p>
  <div class="side_by_side">
	  <p class="date">
	    <%= f.label :start %><br />
	    <%= f.date_select :start, :order => [:day, :month, :year] %>
	  </p>
	  <p class="date">
	    <%= f.label :end %><br />
	    <%= f.date_select :end, :order => [:day, :month, :year] %>
	  </p>
  </div>
  <p>
    <%= f.label :venue %><br />
    <%= f.text_field :venue, :class => "box" %>
  </p>
  <p>
    <%= f.label :venue_url, "Venue URL" %><br />
    <%= f.text_field :venue_url, :class => "box" %>
  </p>
  <p>
    <%= f.label :logo %><br />
 	<%= image_tag(@event.logo.edit_screen.url) if @event.logo? %>
    <%= f.file_field :logo, :class => "box" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
