<div class="in forms">
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "box" %>
  </p>
  <div class="side_by_side">
	  <p class="date">
	    <%= f.label :start %><br />
	    <%= f.date_select :start, :order => [:day, :month, :year] %>
	  </p>
	  <p class="date">
	    <%= f.label :end %><br />
	    <%= f.date_select :end, :order => [:day, :month, :year] %>
	  </p>
  </div>
  <p>
    <%= f.label :venue %><br />
    <%= f.text_field :venue, :class => "box" %>
  </p>
  <p>
    <%= f.label :logo %><br />
    <%= f.text_field :logo, :class => "box" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
