<div class="in author"> 
	<h2>All Events</h2>
	<%= link_to 'New Event', new_event_path %>
</div>

<div class="in">			
	<table width="850" border="0" cellspacing="0" cellpadding="10" class="table_main" > 
		<tr style="background-color:#d9d8d8; font-size:14px;"> 
			<td width="210"><strong>Name</strong></td> 
			<td width="220"><strong>Dates</strong></td> 
			<td width="200"><strong>Venue</strong></td>
			<td width="130"><strong>Num. Attendees</strong></td>
			<td width="100"></td> 
		</tr>
		<% @events.each do |event| %>
		<tr class="gray"> 
			<td><%= event.name %></td> 
			<td><%= "#{event.start.strftime("%e %b %g")} - #{event.end.strftime("%e %b %g")}" %></td> 
    		<td><%= event.venue %></td>
			<td><%= event.attendees.count %></td> 
			<td><%= link_to 'VIEW', event_path(event) %><span class="v_line">| </span> <%= link_to 'EDIT', edit_event_path(event) %></td> 
		</tr> 
		<% end %>
	</table> 
					
</div>