<div class="in author"> 
	<h2>
		<%= @event.name %>
		<span class="header_nav"><%= link_to 'Edit', edit_event_path(@event) %></span>
	</h2>
	
	<p><%= @event.venue %> | <%= @event.start.strftime("%e %b %g") %> - <%= @event.end.strftime("%e %b %g") %></p> 
</div>

<hr>
<div class="in">
	<%= render 'shared/filter' %>
	<p><b>Show:</b> <%=link_to('Badges.pdf', "/badge/event/#{@event.id}.pdf") %> </p>
	<p><b><%=link_to('Add Attendee', new_attendee_path) %></b></p>
	
	<table width="850" border="0" cellspacing="0" cellpadding="10" class="table_main" > 
		<tr style="background-color:#d9d8d8; font-size:14px;"> 
			<td width="200"><strong>Name</strong></td> 
			<td width="150"><strong>Badge</strong></td>
			<td width="150"><strong>Status</strong></td> 
			<td width="125"><strong>Attendance</strong></td>
			<td width="125"><strong>Onsite</strong></td>
			<td width="75"></td> 
			<td width="75"></td> 
		</tr>
		<% @attendees.each do |attendee| %>
		<tr class="<%= cycle("gray", "white") %>"> 
			<td><%= link_to "#{attendee.first_name} #{attendee.last_name}", edit_attendee_path(attendee) %></td> 
			<td><%= attendee.badge_types[attendee.badge] %></td> 
			<td><%= attendee.status_types[attendee.status] %></td> 
			<td><%= attendee.checkin.attended %></td> 
			<td><%= attendee.checkin.onsite %></td> 
			<td><%= link_to 'EDIT', edit_attendee_path(attendee) %></td> 
			<td><%=form_tag(onsite_index_path, :method => :post) do %>
				<%= hidden_field_tag 'attendee', attendee.id %>
				<input type="submit" value="<%= attendee.checkin.button %>" class="search_btn" style="margin: 0 0 0 5px; padding: 6px 30px;">
			<% end %>
			</td>
		</tr> 
		<% end %>
	</table>
	
	
</div>
<!-- <div class="in">
	<%= form_tag '/attendees/bulkimport', :multipart => true do %>
	  <label for="file">Import Attendees</label> <%= file_field_tag "file" %>
	  <%= hidden_field_tag 'event_id', @event.id %>
	  <%= submit_tag %>
	<% end %>
</div> -->