<div class="in forms">
	<h2> <%= @attendee.first_name %> <%= @attendee.last_name %> is <%= @attendee.checkin.action_flash%></h2>
	<p&nbsp;></p>
	<hr>
	<div class="in dashboard_table">
	    <table width="850" border="0" cellspacing="0" cellpadding="10" class="table_main">
	      <tbody><tr style="background-color:#d9d8d8; font-size:14px;">
	        <td width="280" style="text-align: center;"><strong>Badge</strong></td>
	        <td width="280" style="text-align: center;"><strong>Diet</strong></td>
	        <td width="280" style="text-align: center;"><strong>Status</strong></td>
	      </tr>
	      <tr class="gray">
	        <td style="text-align: center;"><%= @attendee.badge_types[@attendee.badge] %></td>
	        <td style="text-align: center;"><%= @attendee.diet_types[@attendee.diet] %></td>
	        <td style="text-align: center;"><%= @attendee.status_types[@attendee.status] %></td>
	      </tr>
	    </tbody></table>    
	</div>
	<%=form_tag(onsite_index_path, :method => :post) do %>
	<hr>
	<h2>The Scanner</h2>
    <p>
        <label for="onsite_search">First Name / Attendee ID / Ticket ID</label><br/>
        <%= text_field(:onsite, :search, :size => 100,  :class => "search_box", :style => "margin: 5px 0") %>
		<input type="submit" value="GO!!" class="search_btn" style="margin: 0 0 0 5px; padding: 6px 30px;"><br/>
		<label>Current Event: <%= @event.name %></label>
    </p>
	<% end %>
</div>