<ul class="menu">
    <li>
      <%= form_tag do %>
        <%= label_tag(:badge, "Scan attendee barcode:") %>
        <%= text_field_tag(:badge) %>
        <%= submit_tag("Checkin") %>
      <% end %>      
    </li>
</ul>
<% if @attendee %>
    <p><%= @attendee.first_name %> <%= @attendee.last_name %> is now  <%= Attendee.onsite_state[@attendee.onsite] %></p>
    <% if @attendee.notes %>
        <p style="color:white; background-color:red; padding: 1em;"><%= @attendee.notes %></p>
    <% end %>
<% end %>

<% if @message %>
    <p><%= @message %></p>
<% end %>
